nav {box-shadow: none !important;border-bottom: solid 1px lightgray;}

.btn-large {border-radius: 100px !important;box-shadow: none !important;border: solid 1px lightgray !important;}

/*---------------------------------------------Main-Section------------------------------------------------------*/

.top-nav > h5 {font-weight: bold;;}

